In [1]:
#1 write a python pgrm to find the best of 2 test avg marks out of 3 test marks accepted from the user

In [ ]:
#2 develop a python pgrm to convert a binary no. into a decimal, octal and hexa decimal no.s using functions
bi=input("enter bin no. : ")
dec = int(bi,2)
he = hex(dec)[2:]
oc = oct(dec)[2:]

print("dec : ",dec,"\nhexa : ",he,"\noctal : ",oc)

enter bin no. : 10110
dec :  22
hexa :  16
octal :  26

In [ ]:
#3 define as a function F as Fn = Fn-1 + Fn-2. Write a pgrm which accepts a value for N (N>0) as i/p & pass this value to he function. Display suitable error messgae if the condition for i/p isn't followed

In [ ]:
#4 pgrm to find string similarity btw 2 given strings

In [ ]:
#5 pgrm that accepts a sentence and finds the no. of words, digits, uppercase letters and lowercase letters
s=input("enter sentence : ")
l=[]
wc,dc,uc,lc=0,0,0,0
l=s.split()
wc = len(l)  #word count
for i in s:
    if i.isdigit():
        dc+=1
    if i.isupper():
        uc+=1
    if i.islower():
        lc+=1
print("Words : ",wc,"\nDigits : ",dc,"\nUppercase : ",uc,"\nLowecase : ",lc)

enter sentence : heYY 123 how r U welCOme backK
Words :  7
Digits :  3
Uppercase :  6
Lowecase :  15

In [ ]:
""" 6
*
* *
* * *
* * * *
* * * * *
"""
n=int(input("enter rows and colms : ")) #no. of rows = no. of columns
for i in range(0,n):        #i for rows
    for j in range(0,i+1):    #j for columns
        print("*",end=" ")
    print()
"""
n=int(input("enter rows and colms : ")) #no. of rows = no. of columns
for i in range(0,n):        #i for rows
    for j in range(0,n):    #j for columns
        if (j<=i):
            print("*",end=" ")
    print()
"""

enter rows and colms : 5
*
* *
* * *
* * * *
* * * * *

'\nn=int(input("enter rows and colms : ")) #no. of rows = no. of columns\nfor i in range(0,n):        #i for rows\n    for j in range(0,n):    #j for columns\n        if (j<=i):\n            print("*",end=" ")     \n    print()\n'

In [8]:
""" 7
            *
         * *
      * * *
   * * * *
* * * * *
"""
n = int(input())
for i in range(n):
    for j in range(n):
        if (i + j) >= (n - 1):
            print("*", end=" ")
        else:
            print("  ", end=" ")
    print()

5
            *
         * *
      * * *
   * * * *
* * * * *

In [9]:
"""8
* * * * *
   * * * *
      * * *
         * *
            *
"""
n=int(input("enter rows and colms : ")) #no. of rows = no. of columns
for i in range(0,n):        #i for rows
    for j in range(0,n):    #j for columns
        if (j>=i):
            print("*",end=" ")
        else:
            print("  ",end=" ")
    print()

enter rows and colms : 5
* * * * *
   * * * *
      * * *
         * *
            *

In [10]:
"""9
* * * * *
* * * *
* * *
* *
*
"""
n=int(input("enter rows and colms : ")) #no. of rows = no. of columns
for i in range(0,n):        #i for rows
    for j in range(0,n):    #j for columns
        if (j>=i):
            print("*",end=" ")
    print()

enter rows and colms : 5
* * * * *
* * * *
* * *
* *
*

In [ ]:
"""10
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
"""
n=int(input("enter rows and colms : ")) #no. of rows = no. of columns
for i in range(0,n):        #i for rows
    for j in range(0,n):    #j for columns
        print("*",end=" ")
    print()

enter rows and colms : 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
"""11
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
"""
n=int(input("enter rows and colms : ")) #no. of rows = no. of columns
for i in range(0,n):        #i for rows
    for j in range(0,n):    #j for columns
        if (j<=i):
            print(j+1,end=" ")
    print()

enter rows and colms : 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
"""12
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
"""
n=int(input("enter rows and colms : ")) #no. of rows = no. of columns
for i in range(0,n):        #i for rows
    for j in range(0,n):    #j for columns
        if (j<=i):
            print(i+1,end=" ")
    print()

enter rows and colms : 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [6]:
"""13
* * * * *
*           *
*           *
*           *
* * * * *
"""
n=int(input("enter rows and colms : "))
for i in range(0,n):
    for j in range(0,n):
        if ((i==0) or (i==n-1) or (j==0) or j==(n-1)):
            print("*",end=" ")
        else:
            print("  ", end=" ")
    print()

enter rows and colms : 5
* * * * *
*          *
*          *
*          *
* * * * *

In [7]:
"""14
* * * * *
* *    *  *
*    *    *
* *    *  *
* * * * *
"""
n=int(input("enter rows and colms : "))
for i in range(0,n):
    for j in range(0,n):
        if ((i==0) or (i==n-1) or (i==j) or (i+j == n-1)):
            print("*",end=" ")
        else:
            if (j==0 or j==(n-1)):
                print("*", end=" ")
            else:
                print("  ", end=" ")
    print()

enter rows and colms : 5
* * * * *
* *    * *
*    *    *
* *    * *
* * * * *

In [ ]:
"""15
1  2  3  4
5  6  7  8
9 10 11 12
13 14 15 16
"""
n=int(input("enter rows and colms : ")) #no. of rows = no. of columns
k=0
for i in range(0,n):        #i for rows
    for j in range(0,n):    #j for columns
        print(k+1,end=" ")
        k+=1
    print()

enter rows and colms : 4
1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [ ]:
"""16 -take user i/p for what char to be printed
A A A A A
A A A A A
A A A A A
A A A A A
A A A A A
"""
n=int(input("enter rows and colms : ")) #no. of rows = no. of columns
char = input("enter char : ")
for i in range(0,n):        #i for rows
    for j in range(0,n):    #j for columns
        print(char,end=" ")
    print()

enter rows and colms : 5
enter char : A
A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [ ]:
#17 pgrm to read a string from user and implement the logic to remove the characters which are at the odd numbers of the index
s=input("enter str : ")
l=len(s)
res=""
for i in range(0,l):
    if(i%2==0):
        res+=s[i]
print(res)

enter str : hello
hlo

In [ ]:
#18 pgrm to swap 2 no.s using a 3rd variable
a=int(input("num1 : "))
b=int(input("num2 : "))
print("old : a -",a,"b -",b)
temp=a
a=b
b=temp
print("new : a -",a,"b -",b)

num1 : 4
num2 : 8
old : a - 4 b - 8
new : a - 8 b - 4

In [ ]:
#19 pgrm to swap 2 no.s without using a 3rd variable
a=int(input("num1 : "))
b=int(input("num2 : "))
print("old : a -",a,"b -",b)
a=a+b
b=a-b
a=a-b
print("new : a -",a,"b -",b)

num1 : 20
num2 : 2
old : a - 20 b - 2
new : a - 2 b - 20